.block{
  border: 2px solid;
  height: 100px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  padding: 50px;
}

.row{
  display: flex;
}